
@{
    ViewBag.Title = "Custlogin";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

    <div class="container-fluid mt-3">
        <div class="white-wrapper">
          <img src="~/images/preview.jpg"/>
        </div>
    </div>

